DATABASE_URI="<Database URI>"
DISCORD_TOKEN="<Discord Bot Token>"
CERTIFICATE_X=<Top Left X-coordinate>
CERTIFICATE_Y=<Top Left Y-coordinate>
CERTIFICATE_MAXWIDTH=<Width of the text box>
CERTIFICATE_MAXHEIGHT=<Height of the text box>
XYZ_WEBHOOK_TOKEN = <KZILLA.XYZ Webook Token>
LOGGER_CHANNEL_ID = <Logger Channel Id>
CERTIFICATE_URL="<Certificate URL>"
CERTIFICATE_ACCESS_ENABLED = <Certificate access - Boolean>