DATABASE_URI="<Database URI>"
EVENT_DATABASE_URI="<Event Database URI>"
DISCORD_TOKEN="<Discord Bot Token>"
XYZ_WEBHOOK_TOKEN = <KZILLA.XYZ Webook Token>
LOGGER_CHANNEL_ID = <Logger Channel Id>
OPERATOR_ROLE_ID = <Role ID which is capable of using Mod Jack Commands>
CUSTOM_EMOJI_ID="<Custom Emoji ID>"
PORT=<Webhook API Port>
GUILD_ID=<Your Server ID>
RABBIT_MQ_IP = <string>
RABBIT_MQ_PORT = <string>
RABBIT_MQ_USER = <string>
RABBIT_MQ_PASSWORD = <string>
RABBIT_MQ_vHOST = <string>
RABBIT_MQ_QUEUESLUG = <string>
RABBIT_MQ_EXCHANGE = <string>